<section class="mb-10 text-left">
  <div *ngIf="alertMessage" class="text-center" id="alert">{{ alertMessage }}</div>
  <div id="input">
    <form>
      <input [(ngModel)]="idea" 
             class="w-full px-4 my-2 py-2 border border-gray-300 rounded-lg border-l border-gray-300 text-gray-700 focus:outline-none focus:border-gray-300 focus:border-gray-300 transition ease-in-out duration-150" 
             id="idea-input" 
             name="idea"
             placeholder="Enter your project Idea:"
             type="text">
      <input [(ngModel)]="additionalInfo" 
             class="w-full px-4 py-2 border border-gray-300 rounded-lg border-l border-gray-300 text-gray-700 focus:outline-none focus:border-gray-300 focus:border-gray-300 transition ease-in-out duration-150" 
             id="info-input" 
             name="additionalInfo"
             placeholder="Additional information:"
             type="text">
      <button (click)="submitIdea()" 
              class="px-4 py-2 mt-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600">
        Submit
      </button>
    </form>
  </div>
</section>
